<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<ul class="list-group">
  <li class="list-group-item" id="scrabble">
    <div class="page-title">
      Forgot your password?
    </div>

  <div class="new-user-input">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "new-user-input-text" %>
  </div>
</li>
  <li class="list-group-item" id="new-user-btn-area">
    <%= f.submit "Send me reset password instructions", id: "bottom-btn-pw-reset" %>
  </li>
<% end %>
<div class="nav-link">
  <%= render "devise/shared/links" %>
</div>
