<ul class="list-group">
<%= form_for @scrabble do |f| %>
  <li class="list-group-item" id="scrabble">
    <div class="new-scrabble-num-of-players">
      <%= f.label :num_of_players, "How many players? (2-4): " %>
      <div>
        <select name="scrabble[num_of_players]" id="num-of-players-dropdown" autofocus="autofocus">
          <% [2, 3, 4].each do |c| %>
            <option value=<%= c %>><%= c %></option>
          <% end %>
        </select>
      </div>
    </div>
  </li>
  <li class="list-group-item" id="create-scrabble">
  <%= f.submit id: "bottom-btn" %>
  </li>
<% end %>
</ul>
<div class="nav-link">
<%= link_to 'Back', :back %>
</div>