<ul class="list-group">
<h1>Welcome to Scrabble Scoreboard!</h1>
<%= form_for @scrabble do |f| %>
  <li class="list-group-item" id="todo-list">
    <div class="page-title">
      Let's Create a New Scrabble!
    </div>
    <div class="new-scrabble-num-of-players">
      <%= f.label :num_of_players, "How many players?(2-4): ", autofocus: true %>
    </div>
  <%= f.number_field :num_of_players %>
  <%= f.submit %>
  </li>
<% end %>
</ul>
<div class="nav-link">
<%= link_to 'Back', :back %>
</div>