<ul class="list-group">
  <li class="list-group-item" id="scrabbles">
    <div class="page-title">
      Scrabble Scoreboard
    </div>
  </li>
  <li class="list-group-item" id="scrabbles">
    <div class="remaining-letters-label">
      Remaining Letters
    </div>
    <div class="remaining-letters">
      <% @scrabble.remaining_letters.each do |letter, count| %>
        <strong><%= letter %></strong>: <%= count %> 
      <% end %>
    </div>
  </li>

<% if @scrabble.num_of_players < 2 %>
  There must be at least 2 players. Create more players.
<% elsif @scrabble.num_of_players == 2 %>
  <% player_scoreboard_width = "col-sm-6" %>
<% elsif @scrabble.num_of_players == 3 %>
  <% player_scoreboard_width = "col-sm-4" %>
<% else %>
  <% player_scoreboard_width = "col-sm-3" %>
<% end %>
<li class="list-group-item" id="scrabbles">
<%= render template: 'words/new' %>
</li>

<li class="list-group-item" id="scrabbles">
<div>
  <h2>Leaderboard</h2>
  <% @scrabble.players.sort_by { |player| player.words.pluck(:score).sum }.reverse.each_with_index do |player, index| %>
    <div>
      <%= index+1 %> <%= player.name %> (<%= player.words.pluck(:score).sum %>)
    </div>
  <% end %>
</div>
</li>
<li class="list-group-item" id="scrabbles">
<div class="row">
<% @scrabble.players.each do |player| %>
  <div class="<%= player_scoreboard_width %>">Turn 
    <%= player.turn %>: <%= player.name %> (<%= player.words.pluck(:score).sum %>)
  </div>
<% end %>
</div>


<div class="row">
<% @scrabble.players.each do |player| %>
  <div class="<%= player_scoreboard_width %>">
  <% player.words.each do |word| %>
    <div class="row" id="each-word-on-show">
    <% if Word.exists? %>
      <% if word.word.length > 0%>
        <div class="col-sm-3">
        <%= link_to word.word.upcase, edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
        </div> 
        <div class="col-sm-3">
        <%= word.score %>
        </div>
      <% else %>
        <div class="col-sm-6">
          <%= link_to 'PASSED (No Word Entered)', edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>
</div>

</ul>
<li class="list-group-item" id="scrabble-bottom-nav">
  <%= link_to 'Home', root_path %>
</li>
