<head>
  <meta http-equiv="refresh" content="300">
</head>

<ul class="list-group">
  <li class="list-group-item" id="scrabbles">
    <div class="page-title">
      Scrabble Scoreboard
    </div>
  </li>

  <li class="list-group-item" id="scrabbles">
    <div class="remaining-letters-label">
      Letters Remaining
    </div>
    <table id="remaining-letters-table">
      <% letters, counts = @scrabble.remaining_letters.map { |letter, count| [letter.to_s, count.to_s] }.transpose %>
      <tr>
        <% letters.each do |letter| %>
          <td id="remaining-letters-letter"><strong><%= letter %></strong></td>
        <% end %>
      </tr>
      <tr>
        <% counts.each do |count| %>
          <td id="remaining-letters-count"><%= count %></td>
        <% end %>
      </tr>
    </table>
  </li>

<% if @scrabble.num_of_players < 2 %>
  There must be at least 2 players. Create more players.
<% end %>

<li class="list-group-item" id="scrabbles">
<%= render template: 'words/new', locals: { num_of_words_passed: @num_of_words_passed } %>
</li>

<li class="list-group-item" id="scrabbles">
  <div class="leaderboard">
    <div class="page-sub-title">
      Leaderboard
    </div>
      <% @scrabble.players.sort_by { |player| player.words.pluck(:score).sum }.reverse.each_with_index do |player, index| %>
        <div>
          <%= index+1 %>. <%= player.name %> (<%= player.words.pluck(:score).sum %>)
        </div>
      <% end %>
  </div>
</li>
<li class="list-group-item" id="scrabbles">

<div class="row">
<% @scrabble.players.each do |player| %>
  <div class="col" id="each-player-words">
    <div class="player-words-list-name">
      Player <%= player.turn %>: 
    </div>
    <div class="player-words-list-name">
      <%= player.name %> (<%= player.words.pluck(:score).sum %>)
    </div>
    <div class="player-words-list">
      <% if player.words.length > 0 %>
        <% (1..player.words.map(&:turn).max).each do |turn| %>
          <% words_for_turn = player.words.select { |w| w.turn == turn } %>
          <% if words_for_turn.count == 1 %>
            <% word = words_for_turn.first %>
            <div class="row" id="each-word-on-show">
              <% if Word.exists? %>
                <% if word.word.length > 0 %>
                  <div class="col-8">
                    <%= link_to word.word.upcase, edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
                  </div> 
                  <div class="col">
                    <%= word.score %>
                  </div>
                <% else %>
                  <div class="col-8" >
                    <%= link_to 'PASSED', edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
                  </div>
                  <div class="col">
                    0
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="row" id="each-word-on-show">
              <div class="col-8">
                <% words_for_turn.each do |word| %>
                  <%= link_to word.word.upcase, edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
                  <% if word != words_for_turn.last %>
                    ,
                  <% end %>
                <% end %>
              </div>
              <div class="col">
                <%= words_for_turn.map(&:score).sum %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      
    </div>
  </div>
<% end %>
</div>

</ul>
<li class="list-group-item" id="scrabble-bottom-nav">
  <%= link_to 'Home', root_path %>
</li>
