<ul class="list-group">
  <li class="list-group-item" id="scrabbles">
    <div class="page-title">
      Scrabble Scoreboard
    </div>
  </li>
  <li class="list-group-item" id="scrabbles">
    <div class="remaining-letters-label">
      Remaining Letters
    </div>
    <div class="remaining-letters">
      <% @scrabble.remaining_letters.each do |letter, count| %>
        <strong><%= letter %></strong>: <%= count %> 
      <% end %>
    </div>
  </li>

<% if @scrabble.num_of_players < 2 %>
  There must be at least 2 players. Create more players.
<% end %>

<li class="list-group-item" id="scrabbles">
<%= render template: 'words/new' %>
</li>

<li class="list-group-item" id="scrabbles">
<div class="leaderboard">
  <div class="page-sub-title">
    Leaderboard
  </div>
  <% @scrabble.players.sort_by { |player| player.words.pluck(:score).sum }.reverse.each_with_index do |player, index| %>
    <div>
      <%= index+1 %>. <%= player.name %> (<%= player.words.pluck(:score).sum %>)
    </div>
  <% end %>
</div>
</li>
<li class="list-group-item" id="scrabbles">

<div class="row">
<% @scrabble.players.each do |player| %>
  <div class="col" id="each-player-words">
    <div class="player-words-list-name">
      Player <%= player.turn %>: 
    </div>
    <div class="player-words-list-name">
      <%= player.name %> (<%= player.words.pluck(:score).sum %>)
    </div>
    <div class="player-words-list">
      <% player.words.each do |word| %>
        <div class="row" id="each-word-on-show">
        <% if Word.exists? %>
          <% if word.word.length > 0%>
            <div class="col-8">
            <%= link_to word.word.upcase, edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
            </div> 
            <div class="col">
            <%= word.score %>
            </div>
          <% else %>
            <div class="col-8" >
              <%= link_to 'PASSED', edit_scrabble_player_word_path(@scrabble.id, player.id, word.id) %>
            </div>
            <div class="col">
              0
            </div>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

</ul>
<li class="list-group-item" id="scrabble-bottom-nav">
  <%= link_to 'Home', root_path %>
</li>
