<ul class="list-group">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <li class="list-group-item" id="scrabble">
      <div class="page-title">
        Login
      </div>

    
      <div class="new-user-input">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "new-user-input-text" %>
      </div>

      <div class="new-user-input">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", id: "new-user-input-text" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="new-user-input">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </li>
    <li class="list-group-item" id="new-user-btn-area">
      <%= f.submit "Login", id: "bottom-btn" %>
    </li>
<% end %>
</ul>
<div class="nav-link">
  <%= render "devise/shared/links" %>
</div>


