  <div class="form-group row" id="existing-letter-checkbox">
    <div class="new-word-input-label">
      Number of words
    </div>
    <div class="num-of-words">
      <div class="row">
        <div class="num-of-words-minus-button">
          <input type="text" name="num_of_words_passed" value="<%= num_of_words_passed %>" hidden="hidden">
          <% if num_of_words_passed.nil? %>
            <button type="button" id="num-of-words-minus">-</button>
          <% else %>
            <button type="button" id="num-of-words-minus" disabled>-</button>
          <% end %>
        </div>
        <div class="num-of-words-input">
          <% if num_of_words_passed.nil? %>
            <input type="text" min="1" value="1" id="num-of-words" name="num_of_words">
          <% else %>
            <input type="text" min="1" value="1" id="num-of-words" name="num_of_words" disabled>
          <% end %>
        </div>
        <div class="num-of-words-plus-button">
          <% if num_of_words_passed.nil? %>
            <button type="button" id="num-of-words-plus">+</button>
          <% else %>
            <button type="button" id="num-of-words-plus" disabled>+</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group row" id="existing-letter-checkbox">
    <div class="new-word-input-label">
      Already Exists?
    </div>
    <div class="existing-letter-check">
      <% for id in 0..14 do %>
        <%= f.check_box :existing_letter, { multiple: true, id: "existing-letter-checkbox-#{id}", class:"existing-letter-checkbox"}, id, nil %>
        <label for="existing-letter-checkbox-<%=id%>" class="existing-letter-checkbox-label"></label>
        <% if action == 'edit' %>
          <input type="checkbox" class="old-existing-letter" id="old-existing-letter-<%=id%>" name="old_existing_letter[]" value="<%=id%>" style="display:none;">
        <% end %>
        <% end %>
    </div>
  </div>

  <div class="form-group row" id="each-letter-input">
    <div class="new-word-input-label">
      <%= f.button "Reset Inputs", type: "button", id:"reset-btn"%>
    </div>
    <div class="word-input-letters">
        <% for id in 1..15 do %>
          <input type="text" id="<%= id %>" class="word-char" maxlength="1" autofocus="true" style="text-transform:uppercase;" pattern="[a-zA-z]" title="Only alphbet letters are allowed.">
        <% end %>
    </div>
  </div>
  
  <div class="form-group row" id="each-letter-checkbox">
    <div class="new-word-input-label">
      Double Letter
    </div>
    <div class="double-letter-check">
      <% for id in 1..15 do %>
        <%= f.check_box :double_letter, { multiple: true, id: "double-letter-checkbox-#{id}", class:"double-letter-checkbox" }, id, nil %>
          <label for="double-letter-checkbox-<%=id%>" class="double-letter-checkbox-label"></label>
        <% end %>
    </div>
  </div>
  <div class="form-group row" id="each-letter-checkbox">
    <div class="new-word-input-label">
      Triple Letter
    </div>
    <div class="triple-letter-check">
        <% for id in 1..15 do %>
            <%= f.check_box :triple_letter, { multiple: true, id: "triple-letter-checkbox-#{id}", class:"triple-letter-checkbox" }, id, nil %>
            <label for="triple-letter-checkbox-<%=id%>" class="triple-letter-checkbox-label"></label>
        <% end %>
    </div>
  </div>

  <%= f.text_field :word, style:"text-transform:uppercase", id:"word-input", hidden: "true"  %>
  <% if action == 'new'%>
    <%= f.number_field :turn, value: "#{@scrabble.current_turn}", hidden: "true" %>
  <% else %>
    <%= f.number_field :turn, value: "#{@word.turn}", hidden: "true" %>
  <% end %>
  <div class="row">
    <div class="new-word-input-label">
    </div>
    <div class="double-word-check">
      <%= f.label :double_word, "Double Word" %> <%= f.check_box :double_word, id: "double-word-checkbox" %>
    </div>
    <div class="triple-word-check">
      <%= f.label :triple_word, "Triple Word" %> <%= f.check_box :triple_word, id: "triple-word-checkbox" %>
    </div>
    <div class="reset-btn">
      
    </div>
  </div>
  <div class="new-word-submit-btn">
    <% if action == 'new' %>
      <%= f.submit class:"btn btn-primary", id:"new-word-submit" %>
      <%= f.button :Pass, class:"btn btn-danger", id:"new-word-submit-pass", name: "pass", value: "Pass", data: { confirm: "Are you sure to you want to PASS? " } %>
    <% else %>
      <%= f.button "Update Word", class:"btn btn-primary", id:"new-word-submit", name: "old_word", value: "#{old_word}" %>
      <%= f.button :Pass, class:"btn btn-danger", id:"new-word-submit-pass", name: "pass", value: "Pass" %>
      <%= link_to "Cancel", :back, class: "btn btn-warning" %>
      <% if @player.words.select { |w| w.turn == @word.turn }.count > 1 %>
        <% if @player.words.select { |w| w.turn == @word.turn }.first != @word %>
          <%= link_to "Delete This Word", scrabble_player_word_path(@scrabble, @player, @word),class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure delete this word?" } %>
        <% end %>
      <% end %>
    <% end %>
  </div>