<h1>Enter New Word</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="container">
<%= form_for [@player, @player.words.build] do |f| %>
  <div class="word-input-letters">
  <% for id in 1..15 do %>
    <input type="text" id="<%= id %>" class="word-char" pattern: "[A-Za-z]" maxlength="1">
  <% end %>
  </div>
  <div class="double-letter-check">
  <% for id in 1..15 do %>
    <%= f.check_box :double_letter, { multiple: true, class: "double-letter-checkbox" }, id, nil %>
  <% end %>
  </div>
  <div class="triple-letter-check">
  <% for id in 1..15 do %>
    <%= f.check_box :triple_letter, { multiple: true, class: "triple-letter-checkbox" }, id, nil %>
  <% end %>
  </div>

  <%= f.text_field :word, style:"text-transform:uppercase", id:"word-input", hidden: "true"  %>
  <div class="row">
    <div class="double-word-check">
      <%= f.label :double_word, "Double Word" %> <%= f.check_box :double_word, id: "double-word-checkbox" %>
      <span class="checkmark"></span>
    </div>
    <div class="triple-word-check">
      <%= f.label :triple_word, "Triple Word" %> <%= f.check_box :triple_word, id: "triple-word-checkbox" %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
</div>
<%= link_to 'Home', root_path %>
<script>
var word = "";
$("input").keyup(function () {
    var maxLength = $(this).attr('maxlength');

    if($(this).val().length == maxLength) {
        $(this).next().focus();
    }
});

$(".word-char").keyup(function(e) {
  if (e.keyCode == 8) {
      if (this.id != "1") {
        $(this).prev().focus();
      }
  }
});

$("#double-word-checkbox").change(function () {
  if($("#triple-word-checkbox").is(':checked')) {
    $("#triple-word-checkbox").prop('checked', false);
  }
});

$("#triple-word-checkbox").change(function () {
  if($("#double-word-checkbox").is(':checked')) {
      $("#double-word-checkbox").prop('checked', false);
  }
});

$("form").submit(function () {
  word = ""
  for (i = 1; i < 15; i++){
    word += $("#"+i).val();
  }
  $("#word-input").val(word);
});

</script>