<ul class="list-group">
  <li class="list-group-item" id="scrabbles">
    <div class="page-title">
      Edit Word (<%= @player.name %>, Turn <%= Scrabble.find(@player.scrabble_id).current_turn %>)
    </div>

    <% @word = Word.find(params[:id]) %>

    <%= form_for [Scrabble.find(@player.scrabble_id), @player, @word] do |f| %>
      <%= render 'form', {f: f, action: "edit", old_word: @word.word} %>
      <% end %>
    </div>
  </li>
</ul>
<div class="nav-link">
<%= link_to 'Back', scrabble_path(@player.scrabble_id) %>
</div>

<script>
var word = "";
$(".word-char").keyup(function () {
    var maxLength = $(this).attr('maxlength');

    if($(this).val().length == maxLength) {
      if($(this).attr("id") < 15) {
        nextId = parseInt($(this).attr("id")) + 1;
        $("#"+nextId).focus();
      }
    }
});

$(".word-char").keyup(function(e) {
  if (e.keyCode == 8) {
      if (this.id != "1") {
        prevId = parseInt($(this).attr("id")) - 1;
        $("#"+prevId).focus();
      }
  }
});

$(".double-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("double", "triple")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});


$(".triple-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("triple", "double")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});

$("#double-word-checkbox").change(function () {
  if($("#triple-word-checkbox").is(':checked')) {
    $("#triple-word-checkbox").prop('checked', false);
  }
});

$("#triple-word-checkbox").change(function () {
  if($("#double-word-checkbox").is(':checked')) {
      $("#double-word-checkbox").prop('checked', false);
  }
});

$("form").submit(function () {
  word = ""
  for (i = 1; i <= 15; i++){
    word += $("#"+i).val();
  }
  $("#word-input").val(word);
});

$(document).ready(function () {
  word = $("#word-input").val();
  for (i = 0; i < word.length; i++){
    $("#"+(i+1)).val(word[i]);
  }
  for (i = 0; i<=14; i++) {
    if($('#existing-letter-checkbox-'+i).is(':checked')) {
      $('#old-existing-letter-'+i).prop('checked', true);
    }
  }
});

document.getElementById("reset-btn").onclick = function() { 
  for (i = 1; i < 15; i++) {
    document.getElementById(i).value = "";
  }

  var inputs=document.getElementsByTagName("input");
  for (var i in inputs) {
    if (inputs[i].type=="checkbox") {
      if (inputs[i].classList != "old-existing-letter") {
        inputs[i].checked=false;
      }
    }
  }

  document.getElementById("1").focus();
};


</script>