<div class="enter-new-word-title">
  Turn <%= @scrabble.current_turn %>: Enter a New Word, <%= @player.name %>
</div>
<%= form_for ([@scrabble, @player, @player.words.build]) do |f| %>
  <div class="form-group row" id="each-letter-input">
    <div class="new-word-input-label">
    </div>
    <div class="word-input-letters">
        <% for id in 1..15 do %>
          <input type="text" id="<%= id %>" class="word-char" maxlength="1" autofocus="true" style="text-transform:uppercase;" pattern="[a-zA-z]" title="Only alphbet letters are allowed.">
        <% end %>
    </div>
  </div>
  
  <div class="form-group row" id="each-letter-checkbox">
    <div class="new-word-input-label">
      Double Letter
    </div>
    <div class="double-letter-check">
      <% for id in 1..15 do %>
        <%= f.check_box :double_letter, { multiple: true, id: "double-letter-checkbox-#{id}", class:"double-letter-checkbox" }, id, nil %>
          <label for="double-letter-checkbox-<%=id%>" class="double-letter-checkbox-label"></label>
        <% end %>
    </div>
  </div>
  <div class="form-group row" id="each-letter-checkbox">
    <div class="new-word-input-label">
      Triple Letter
    </div>
    <div class="triple-letter-check">
        <% for id in 1..15 do %>
            <%= f.check_box :triple_letter, { multiple: true, id: "triple-letter-checkbox-#{id}", class:"triple-letter-checkbox" }, id, nil %>
            <label for="triple-letter-checkbox-<%=id%>" class="triple-letter-checkbox-label"></label>
        <% end %>
    </div>
  </div>

  <%= f.text_field :word, style:"text-transform:uppercase", id:"word-input", hidden: "true"  %>
  <div class="row">
    <div class="new-word-input-label">
    </div>
    <div class="double-word-check">
      <%= f.label :double_word, "Double Word" %> <%= f.check_box :double_word, id: "double-word-checkbox" %>
    </div>
    <div class="triple-word-check">
      <%= f.label :triple_word, "Triple Word" %> <%= f.check_box :triple_word, id: "triple-word-checkbox" %>
    </div>
  </div>
  <div class="new-word-submit-btn">
    <%= f.submit class:"btn btn-primary", id:"new-word-submit" %>
    <%= f.button :Pass, class:"btn btn-danger", id:"new-word-submit-pass", name: "pass", value: "Pass", data: { confirm: "Are you sure to you want to PASS? " } %>
  </div>
<% end %>


<script>
var word = "";
$(".word-char").keyup(function () {
    var maxLength = $(this).attr('maxlength');

    if($(this).val().length == maxLength) {
      if($(this).attr("id") < 15) {
        nextId = parseInt($(this).attr("id")) + 1;
        $("#"+nextId).focus();
      }
    }
});

$(".word-char").keyup(function(e) {
  if (e.keyCode == 8) {
      if (this.id != "1") {
        prevId = parseInt($(this).attr("id")) - 1;
        $("#"+prevId).focus();
      }
  }
});

$(".double-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("double", "triple")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});


$(".triple-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("triple", "double")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});

$("#double-word-checkbox").change(function () {
  if($("#triple-word-checkbox").is(':checked')) {
      $("#triple-word-checkbox").prop('checked', false);
  }
});

$("#triple-word-checkbox").change(function () {
  if($("#double-word-checkbox").is(':checked')) {
      $("#double-word-checkbox").prop('checked', false);
  }
});

$("form").submit(function () {
  word = ""
  for (i = 1; i < 15; i++){
    word += $("#"+i).val();
  }
  $("#word-input").val(word);
});

</script>