<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleScoreboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">

  <body>
    <div class="content" id="scrabble-main">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
